<p style="color: green"><%= notice %></p>

<div class="d-md-flex justify-content-md-between align-items-center">
  <%= link_to "tweet", new_tweet_path, class: "btn btn-info" %>
  <%= form_with url: tweets_path, method: :get do |form| %>
  <div class="my-3">
    <%= form.text_field :query_text, 
        placeholder: ('Buscar'), 
        value: params[:query_text],
        class: "form-control" %>
  </div>
  <% end %>
</div>

<div id="tweets" class="row justify-content-center justify-content-md-evenly g-3">
  <% @tweets.each do |tweet| %>
  <div class="col-10 col-md-6 col-lg-4 col-xl-3">
    <div class="card">
      <div class="card-body">
        <%= render tweet %>
        <p><%= link_to "Show this tweet", tweet, class: "text-primary-emphasis" %></p>
      </div>
    </div>
  </div>
  <% end %>   
</div>
<div class="container d-flex justify-content-around align-content-center flex-wrap my-5">
  <%= raw pagy_bootstrap_nav(@pagy)%>
</div>

